<div id="<%= dom_id game %>">
  <p>
    <strong>Score home:</strong>
    <%= game.score_home %>
  </p>

  <p>
    <strong>Score away:</strong>
    <%= game.score_away %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= game.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= game.date %>
  </p>

  <p>
    <strong>Team away:</strong>
    <%= game.team_away_id %>
  </p>

  <p>
    <strong>Team home:</strong>
    <%= game.team_home_id %>
  </p>

  <p>
    <strong>Day:</strong>
    <%= game.day_id %>
  </p>

</div>
