<div id="<%= dom_id game %>" class="card shadow-sm mb-4">
  <div class="card-body">
    <h5 class="card-title">Match Details</h5>
    <hr>

    <div class="row">
      <div class="col-md-6">
        <p class="mb-2">
          <strong>Score Home:</strong>
          <span class="badge bg-primary"><%= game.score_home %></span>
        </p>
      </div>
      <div class="col-md-6">
        <p class="mb-2">
          <strong>Score Away:</strong>
          <span class="badge bg-danger"><%= game.score_away %></span>
        </p>
      </div>
    </div>

    <p class="mb-2">
      <strong>Description:</strong>
      <span class="text-muted"><%= game.description %></span>
    </p>

    <p class="mb-2">
      <strong>Date:</strong>
      <span class="text-muted"><%= game.date %></span>
    </p>

    <div class="row">
      <div class="col-md-6">
        <p class="mb-2">
          <strong>Team Home:</strong>
          <span class="text-info"><%= game.team_home %></span>
        </p>
      </div>
      <div class="col-md-6">
        <p class="mb-2">
          <strong>Team Away:</strong>
          <span class="text-warning"><%= game.team_away%></span>
        </p>
      </div>
    </div>

    <p class="mb-0">
      <strong>Day:</strong>
      <span class="text-muted"><%= game.day %></span>
    </p>
  </div>
  <div>
  <%= link_to "Voir les team", teams_path %>
</div>

</div>