<p style="color: green"><%= notice %></p>

<% content_for :title, "Games" %>

<h1>Games</h1>

<div id="games">
  <% @games.each do |game| %>
    <%= render game %>
    <p>
      <%= link_to "Show this game", game %>
    </p>
  <% end %>
</div>
<div>
  <%= link_to "Back to games", games_path %>
</div>


<%= link_to "New game", new_game_path %>
